<div class="col-xs-12">
    <div class="table-header">
        材料列表
        <button id="add_btn" class="btn btn-success">
            <i class="icon-plus align-top bigger-125"></i>
            添加
        </button>
        <button id="delete_btn" class="btn btn-success">
            <i class="icon-minus align-top bigger-125"></i>
            批量删除
        </button>
    </div>
    <div class="table-responsive">
        <table id="material_tb" class="table table-striped table-bordered table-hover">
        </table>
    </div>
</div>
<script src="/page/js/material/list.js"></script>
