<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">-->
        <!--<property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/petal?characterEncoding=UTF-8"/>-->
        <!--<property name="user" value="root"/>-->
        <!--<property name="password" value=""/>-->
        <!--&lt;!&ndash;连接池中保留的最小连接数。&ndash;&gt;-->
        <!--<property name="minPoolSize" value="10"/>-->
        <!--&lt;!&ndash;连接池中保留的最大连接数。Default: 15 &ndash;&gt;-->
        <!--<property name="maxPoolSize" value="100"/>-->
        <!--&lt;!&ndash;最大空闲时间,1800秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 &ndash;&gt;-->
        <!--<property name="maxIdleTime" value="1800"/>-->
        <!--&lt;!&ndash;当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3 &ndash;&gt;-->
        <!--<property name="acquireIncrement" value="3"/>-->
        <!--<property name="maxStatements" value="1000"/>-->
        <!--<property name="initialPoolSize" value="10"/>-->
        <!--&lt;!&ndash;每60秒检查所有连接池中的空闲连接。Default: 0 &ndash;&gt;-->
        <!--<property name="idleConnectionTestPeriod" value="60"/>-->
        <!--&lt;!&ndash;定义在从数据库获取新连接失败后重复尝试的次数。Default: 30 &ndash;&gt;-->
        <!--<property name="acquireRetryAttempts" value="30"/>-->
        <!--<property name="breakAfterAcquireFailure" value="true"/>-->
        <!--<property name="testConnectionOnCheckout" value="false"/>-->
    <!--</bean>-->
    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/petal?characterEncoding=UTF-8" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>
    <bean id="sqlSessionFactory" name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--<property name="configLocation" value="/WEB-INF/mybatis-config.xml"/>-->
        <property name="mapperLocations" value="classpath*:/mappers/*.xml"/>
        <property name="typeAliasesPackage" value="com.sunflower.petal.entity"/>
    </bean>

    <bean id="sqlSession" name="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
        <constructor-arg index="1" value="BATCH"/>
    </bean>
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.sunflower.petal.dao"/>
        <property name="sqlSessionTemplateBeanName" value="sqlSession"/>
    </bean>

    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
    <!--<property name="basePackage" value="com.sunflower.petal.dao" />-->
    <!--</bean>-->

    <tx:annotation-driven/>
</beans>