<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath*:*.properties" file-encoding="UTF-8"/>

    <context:component-scan base-package="com.sunflower.petal.entity" />
    <context:component-scan base-package="com.sunflower.petal.service" />
    <context:component-scan base-package="com.sunflower.petal.controller" />
    <!--<mvc:annotation-driven />-->
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven >
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
            <!-- 新增的StringMessageConverter bean-->
            <!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="prettyPrint" value="true"/>
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="featuresToDisable">
                            <array>
                                <util:constant static-field="com.fasterxml.jackson.databind.DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES"/>
                            </array>
                        </property>
                    </bean>
                </property>
                <!--<property name="objectMapper">-->
                    <!--<bean class="com.fasterxml.jackson.databind.ObjectMapper">-->
                        <!--<property name="serializationInclusion">-->
                            <!--<value>NON_NULL</value>-->
                        <!--</property>-->
                        <!--&lt;!&ndash;<property name="dateFormat">&ndash;&gt;-->
                        <!--&lt;!&ndash;<bean class="java.text.SimpleDateFormat">&ndash;&gt;-->
                        <!--&lt;!&ndash;<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"></constructor-arg>&ndash;&gt;-->
                        <!--&lt;!&ndash;</bean>&ndash;&gt;-->
                        <!--&lt;!&ndash;</property>&ndash;&gt;-->
                    <!--</bean>-->
                <!--</property>-->
            </bean>
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean class="com.sunflower.petal.resorlver.UserHolderArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>
    <!-- 参数转换器 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!--日期转换器-->
                <bean class="com.sunflower.petal.converter.StringToDateConverter"/>
            </set>
        </property>
    </bean>

    <import resource="mybatis-config.xml"/>
    <!-- REST中根据URL后缀自动判定Content-Type及相应的View -->
    <bean class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean" id="contentNegotiationManager">
        <property name="mediaTypes">
            <value>
                json=application/json
                xml=application/xml
            </value>
        </property>
    </bean>
    <!--<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" >-->
        <!--<property name="objectMapper">-->
            <!--<bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">-->
                <!--<property name="featuresToDisable">-->
                    <!--<array>-->
                        <!--<util:constant static-field="com.fasterxml.jackson.databind.DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES"/>-->
                    <!--</array>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">-->
        <!--<property name="defaultViews">-->
            <!--<list>-->
                <!--<bean-->
                        <!--class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">-->
                    <!--<property name="prefixJson" value="false" />-->
                    <!--<property name="objectMapper">-->
                        <!--<bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">-->
                            <!--<property name="featuresToDisable">-->
                                <!--<array>-->
                                    <!--<util:constant static-field="com.fasterxml.jackson.databind.DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES"/>-->
                                <!--</array>-->
                            <!--</property>-->
                        <!--</bean>-->
                    <!--</property>-->
                <!--</bean>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <mvc:interceptors>
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<bean class="com.sunflower.petal.interceptor.LoginInterceptor">-->
                <!--<property name="cookieName" value="custom_cookie_name"/>-->
                <!--<property name="loginUrl" value="/admin/login_view"/>-->
                <!--<property name="doNotInterceptUrl">-->
                    <!--<list>-->
                        <!--<value>/admin/login_view</value>-->
                        <!--<value>/admin/login_validate</value>-->
                        <!--<value>/captcha/getCaptcha</value>-->
                        <!--<value>/captcha/validateCaptcha</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.sunflower.petal.interceptor.UserHolderInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/velocity/"/>
        <property name="configLocation" value="classpath:velocity.properties" />
        <property name= "velocityProperties">
            <props>
                <prop key= "input.encoding">utf-8</prop>
                <prop key= "output.encoding">utf-8</prop>
            </props>
        </property>
    </bean>
    <bean id="viewResolver"  class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.velocity.VelocityLayoutView" />
        <property name="prefix" value="" />
        <property name="suffix" value=".vm" />
        <property name="toolboxConfigLocation" value="/velocity/toolbox.xml" />
        <property name="layoutUrl" value="/layout/default.vm" />
        <property name="layoutKey" value="layout" />
        <property name="screenContentKey" value="screen_content" />
        <property name="contentType" value="text/html;charset=utf-8" />
    </bean>

</beans> 
