    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">用户-信息</h3>
        </div>
        <div class="panel-body">
            <form id="info_form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="identifier">编号</label>
                    <div class="col-sm-10">
                        <input readonly class="form-control input-sm" id="identifier" name="id" value="$!{user.id}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="name" name="name" value="$!{user.name}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">电话</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="phone" name="phone" value="$!{user.phone}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">邮箱</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="email" name="email" value="$!{user.email}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="address" name="address" value="$!{user.address}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="beizhu">备注</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="beizhu" name="beizhu">$!{user.beizhu}</textarea>
                    </div>
                </div>
                <button class="btn btn-info btn-sm" type="button" id="save_btn"><i class="icon-ok"></i>保存</button>
                <button class="btn btn-sm" type="reset" id="save_btn"><i class="icon-undo"></i>撤销</button>
            </form>
        </div>
    </div>

    <script src="/page/js/user/option.js"></script>