<div class="widget-box" style="opacity: 1; z-index: 0;">
    <div class="widget-header header-color-dark">
        <h5 class="bigger lighter">产品信息</h5>
    </div>
    <div class="widget-body">
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            添加材料项
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="materialItem_form" class="form-horizontal">
                            <input hidden class="form-control input-sm hidden" name="productId" value="$!{product.id}"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="name">材料</label>
                                <div class="col-sm-10">
                                    <select id="materials_select" name="materialId" multiple style="width: 75%">
                                        #foreach($material in $!materials)
                                            <option value="$!{material.id}">$!{material.name}</option>
                                        #end
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="count">数量</label>
                                <div class="col-sm-10">
                                    <input  class="form-control input-sm" id="count" name="count"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="beizhu">备注</label>
                                <div class="col-sm-10">
                                    <input  class="form-control input-sm" id="beizhu" name="beizhu"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="item_close_btn" type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button id="item_ok_btn" type="button" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div class="widget-toolbox">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">
                        <i class="icon-plus align-top bigger-125"></i>
                        添加材料项
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="icon-print align-top bigger-125"></i>
                        打印
                    </button>
                </div>
            </div>
        </div>
        <div class="widget-main padding-16">
            <form id="product_form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="identifier">编号</label>
                    <div class="col-sm-10">
                        <input readonly class="form-control input-sm" id="identifier" name="id" value="$!{product.id}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm" id="name" name="name" value="$!{product.name}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">材料</label>
                    <div class="col-sm-10">
                        <div class="table-responsive">
                            <table id="materialItems_tb" class="table table-striped table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="beizhu">备注</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="beizhu" name="beizhu">$!{product.beizhu}</textarea>
                    </div>
                </div>
                <button class="btn btn-info btn-sm" type="button" id="save_btn"><i class="icon-ok"></i>保存</button>
                <button class="btn btn-sm" type="reset" id="save_btn"><i class="icon-undo"></i>撤销</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ShowElement(element){
        var oldhtml = element.innerHTML;
        var newobj = document.createElement('input');
        newobj.type = 'text';
        newobj.onblur = function(){
            element.innerHTML = this.value ? this.value : oldhtml;
        }
        element.innerHTML = '';
        element.appendChild(newobj);
        newobj.focus();
    }
</script>
<script src="/page/js/product/option.js"></script>