<script src="/lib/plugins/bootbox/js/bootbox.min.js"></script>

<div class="row">
    <div class="col-sm-9">
        <div class="space"></div>

        <div id="calendar">

        </div>
    </div>

    <div class="col-sm-3">
        <div class="widget-box transparent">
            <div class="widget-header">
                <h4>Draggable events</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div id="external-events">
                        #foreach($event in $!renserEvents)
                            <div class="external-event label-success" data-class="label-success" data-id="$!event.id">
                                <i class="icon-move"></i>
                                $!event.content
                            </div>
                        #end
                        <label>
                            <input type="checkbox" class="ace ace-checkbox" id="drop-remove" />
                            <span class="lbl"> Remove after drop</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#define($cssblock)
<link rel="stylesheet" href="/lib/plugins/fullcalendar/css/fullcalendar.css" />
#end
<script src="/lib/plugins/fullcalendar/js/fullcalendar.min.js"></script>
<script src="/page/js/calendar/calendar.js"></script>

