<form id="fileupload" method="POST" enctype="multipart/form-data">
    <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" class="toggle">
            <span class="fileupload-process"></span>
        </div>
        <div class="col-lg-5 fileupload-progress fade">
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
</form>

<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>
<div id="files" class="files"></div>
<br>
#define($cssblock)
<link rel="stylesheet" href="/lib/plugins/fileupload_9.5.7/css/jquery.fileupload.css">
<link rel="stylesheet" href="/lib/plugins/fileupload_9.5.7/css/jquery.fileupload-ui.css">
#end

<script  src="/lib/plugins/fileupload_9.5.7/js/vendor/jquery.ui.widget.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.fileupload.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.fileupload-ui.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.fileupload-jquery-ui.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.fileupload-process.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.fileupload-validate.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.fileupload-video.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.fileupload-audio.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.fileupload-image.js"></script>
<script  src="/lib/plugins/fileupload_9.5.7/js/jquery.iframe-transport.js"></script>
<script  src="/page/js/product/assembly.js"></script>

